@model Request

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Housing</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Employee.EnglishName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.EnglishName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Housings[0].RequestID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Housings[0].RequestID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Housings[0].LoanStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Housings[0].LoanStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Housings[0].Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Housings[0].Description)
        </dd>
     
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            <a asp-action="DownloadFile" asp-controller="Requests"
               asp-route-filename="@Model.FileName">
                @Model.FileName
            </a>
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
