@model IEnumerable<EfCoreGenericRepository.Models.Request>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create" class="btn btn-success" style="margin: 10px">
        <span class='glyphicon glyphicon-plus'></span>
        Create New
    </a>
</p>
<div class="box">
    <div class="box-header">
   
    </div>
    <table class="table table-bordered table-striped" id="example1">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Amendments[0].Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amendments[0].Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amendments[0].AmendmentReason)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amendments[0].SelectDate)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item.Amendments.Count > 0)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Amendments[0].Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amendments[0].Time)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Amendments[0].AmendmentReason.AmendReasonEn)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Amendments[0].SelectDate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            <a asp-action="DownloadFile" asp-controller="Requests"
                               asp-route-filename="@item.FileName">
                                @item.FileName
                            </a>

                        </td>
                        <td>
                            <div class="btn-group col- ">
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">
                                    <span class='glyphicon glyphicon-edit'></span>Edit
                                </a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-option-vertical"></span>Details
                                </a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }

            }
        </tbody>
    </table>
</div>

<script src="~/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {

        $('#example1').DataTable({
            'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })</script>

 